@using RestarauntWebApplication.Models.EFModels
@model List<RestarauntWebApplication.Models.EFModels.Table>


<head>
    <link rel="stylesheet" href="~/styles/restarauntMap.css" />
    <script src="~/js/changeMapScript.js"></script>
    <script src="~/js/modalWindowScript.js"></script>
</head>

<div class="mapArea">
    <div class="pageInformation">
        <p>Заказ столиков</p>
        <p>Здесь вы можете забронировать любой, понравившийся вам, столик</p>
    </div>
    <div class="map">
        <svg class="firstFloor" version="1.0" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 1211.000000 601.000000"
             preserveAspectRatio="xMidYMid meet">

             <g transform="translate(0.000000,601.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                 <path d="M900 5760 l0 -250 -25 0 -25 0 0 -605 0 -605 25 0 25 0 0 -194 0
                    -193 -82 -6 c-360 -27 -685 -300 -790 -664 -20 -67 -23 -102 -23 -238 0 -136
                    3 -171 23 -238 105 -364 430 -637 790 -664 l82 -6 0 -193 0 -194 -25 0 -25 0
                    0 -605 0 -605 25 0 25 0 0 -250 0 -250 5605 0 5605 0 0 3005 0 3005 -5605 0
                    -5605 0 0 -250z m1000 -360 l0 -600 605 0 605 0 0 600 0 600 1695 0 1695 0 0
                    -900 0 -900 2800 0 2800 0 0 -1245 0 -1245 -2400 0 -2400 0 0 -850 0 -850
                    -745 0 -745 0 0 1000 0 1000 -655 0 -655 0 0 -1000 0 -1000 -695 0 -695 0 0
                    600 0 600 -605 0 -605 0 0 -600 0 -600 -495 0 -495 0 0 245 0 245 25 0 25 0 0
                    605 0 605 -25 0 -25 0 -2 448 c-2 266 -4 347 -5 200 l-3 -248 -38 0 c-20 0
                    -78 9 -127 19 -349 72 -596 305 -697 658 -32 112 -32 324 0 436 33 116 68 192
                    127 282 145 218 396 367 661 391 l74 7 3 -249 c1 -150 3 -71 5 199 l2 447 25
                    0 25 0 0 605 0 605 -25 0 -25 0 0 245 0 245 495 0 495 0 0 -600z m1200 5 l0
                    -595 -595 0 -595 0 0 595 0 595 595 0 595 0 0 -595z m3500 0 l0 -595 -45 0
                    -45 0 0 595 0 595 45 0 45 0 0 -595z m5500 0 l0 -595 -2745 0 -2745 0 0 595 0
                    595 2745 0 2745 0 0 -595z m-11150 -500 l0 -595 -45 0 -45 0 0 595 0 595 45 0
                    45 0 0 -595z m11150 -400 l0 -295 -2795 0 -2795 0 0 295 0 295 2795 0 2795 0
                    0 -295z m-6300 -3500 l0 -995 -645 0 -645 0 0 995 0 995 645 0 645 0 0 -995z
                    m-4850 100 l0 -595 -45 0 -45 0 0 595 0 595 45 0 45 0 0 -595z m6750 -250 l0
                    -845 -195 0 -195 0 0 845 0 845 195 0 195 0 0 -845z m400 0 l0 -845 -195 0
                    -195 0 0 845 0 845 195 0 195 0 0 -845z m400 0 l0 -845 -195 0 -195 0 0 845 0
                    845 195 0 195 0 0 -845z m400 0 l0 -845 -195 0 -195 0 0 845 0 845 195 0 195
                    0 0 -845z m400 0 l0 -845 -195 0 -195 0 0 845 0 845 195 0 195 0 0 -845z m400
                    0 l0 -845 -195 0 -195 0 0 845 0 845 195 0 195 0 0 -845z m400 0 l0 -845 -195
                    0 -195 0 0 845 0 845 195 0 195 0 0 -845z m400 0 l0 -845 -195 0 -195 0 0 845
                    0 845 195 0 195 0 0 -845z m400 0 l0 -845 -195 0 -195 0 0 845 0 845 195 0
                    195 0 0 -845z m400 0 l0 -845 -195 0 -195 0 0 845 0 845 195 0 195 0 0 -845z
                    m400 0 l0 -845 -195 0 -195 0 0 845 0 845 195 0 195 0 0 -845z m400 0 l0 -845
                    -195 0 -195 0 0 845 0 845 195 0 195 0 0 -845z m-9000 -250 l0 -595 -595 0
                    -595 0 0 595 0 595 595 0 595 0 0 -595z" />
                 <path d="M7002 4094 c-73 -19 -131 -55 -189 -117 -155 -164 -148 -405 16 -560
                    98 -93 214 -131 337 -110 86 15 148 46 215 110 164 155 171 396 16 560 -108
                    114 -250 156 -395 117z m202 -9 c76 -20 134 -55 188 -113 214 -229 86 -601
                    -225 -655 -165 -28 -343 64 -416 216 -145 301 130 636 453 552z" />
                 <path d="M8102 4094 c-73 -19 -131 -55 -189 -117 -155 -164 -148 -405 16 -560
                    98 -93 214 -131 337 -110 86 15 148 46 215 110 164 155 171 396 16 560 -108
                    114 -250 156 -395 117z m202 -9 c76 -20 134 -55 188 -113 214 -229 86 -601
                    -225 -655 -165 -28 -343 64 -416 216 -145 301 130 636 453 552z" />
                 <path d="M9202 4094 c-73 -19 -131 -55 -189 -117 -155 -164 -148 -405 16 -560
                    98 -93 214 -131 337 -110 86 15 148 46 215 110 164 155 171 396 16 560 -108
                    114 -250 156 -395 117z m202 -9 c76 -20 134 -55 188 -113 214 -229 86 -601
                    -225 -655 -165 -28 -343 64 -416 216 -145 301 130 636 453 552z" />
                 <path d="M10302 4094 c-73 -19 -131 -55 -189 -117 -155 -164 -148 -405 16
                    -560 98 -93 214 -131 337 -110 86 15 148 46 215 110 164 155 171 396 16 560
                    -108 114 -250 156 -395 117z m202 -9 c76 -20 134 -55 188 -113 214 -229 86
                    -601 -225 -655 -165 -28 -343 64 -416 216 -145 301 130 636 453 552z" />
                 <path d="M11402 4094 c-73 -19 -131 -55 -189 -117 -155 -164 -148 -405 16
                    -560 98 -93 214 -131 337 -110 86 15 148 46 215 110 164 155 171 396 16 560
                    -108 114 -250 156 -395 117z m202 -9 c76 -20 134 -55 188 -113 214 -229 86
                    -601 -225 -655 -165 -28 -343 64 -416 216 -145 301 130 636 453 552z" />
            </g>
            @{ 
                foreach (var item in Model.Where(p=>p.TableFloor.Equals(1)).ToList())
                {
                    <path id="@item.TableId"
                          class="table"
                          d="@item.TableMapPosition"
                          fill="#C8D35B"
                          description-data="Столик <input type='hidden' value ='@item.TableId.ToString()' name='TableId'/> на @item.TableCountSeat.ToString() персоны.">

                    </path>
                }
            }
        </svg>

        <svg class=secondFloor version="1.0" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 1211.000000 601.000000"
             preserveAspectRatio="xMidYMid meet">
             <g transform="translate(0.000000,601.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                 <path d="M900 5760 l0 -250 -25 0 -25 0 0 -605 0 -605 25 0 25 0 0 -194 0
                    -195 -42 -4 -43 -4 48 -1 47 -2 0 200 0 200 25 0 25 0 0 605 0 605 -25 0 -25
                    0 0 245 0 245 545 0 545 0 0 -600 0 -600 605 0 605 0 0 600 0 600 595 0 595 0
                    0 -1000 0 -1000 605 0 605 0 0 1000 0 1000 595 0 595 0 0 -1000 0 -1000 605 0
                    605 0 0 1000 0 1000 2045 0 2045 0 0 -1195 0 -1195 -850 0 -850 0 0 -1800 0
                    -1800 -1195 0 -1195 0 0 1000 0 1000 -605 0 -605 0 0 -1000 0 -1000 -595 0
                    -595 0 0 1000 0 1000 -605 0 -605 0 0 -1000 0 -1000 -595 0 -595 0 0 600 0
                    600 -605 0 -605 0 0 -600 0 -600 -545 0 -545 0 0 245 0 245 25 0 25 0 0 605 0
                    605 -25 0 -25 0 0 200 0 200 -47 -2 -48 -1 43 -4 42 -4 0 -195 0 -194 -25 0
                    -25 0 0 -605 0 -605 25 0 25 0 0 -250 0 -250 5605 0 5605 0 0 3005 0 3005
                    -5605 0 -5605 0 0 -250z m2300 -355 l0 -595 -595 0 -595 0 0 595 0 595 595 0
                    595 0 0 -595z m2400 -400 l0 -995 -595 0 -595 0 0 995 0 995 595 0 595 0 0
                    -995z m2400 0 l0 -995 -595 0 -595 0 0 995 0 995 595 0 595 0 0 -995z m-7050
                    -100 l0 -595 -45 0 -45 0 0 595 0 595 45 0 45 0 0 -595z m11150 -1500 l0 -195
                    -845 0 -845 0 0 195 0 195 845 0 845 0 0 -195z m0 -400 l0 -195 -845 0 -845 0
                    0 195 0 195 845 0 845 0 0 -195z m0 -400 l0 -195 -845 0 -845 0 0 195 0 195
                    845 0 845 0 0 -195z m0 -400 l0 -195 -845 0 -845 0 0 195 0 195 845 0 845 0 0
                    -195z m-6500 -1200 l0 -995 -595 0 -595 0 0 995 0 995 595 0 595 0 0 -995z
                    m2400 0 l0 -995 -595 0 -595 0 0 995 0 995 595 0 595 0 0 -995z m4100 800 l0
                    -195 -845 0 -845 0 0 195 0 195 845 0 845 0 0 -195z m-11150 -700 l0 -595 -45
                    0 -45 0 0 595 0 595 45 0 45 0 0 -595z m11150 300 l0 -195 -845 0 -845 0 0
                    195 0 195 845 0 845 0 0 -195z m-8900 -800 l0 -595 -595 0 -595 0 0 595 0 595
                    595 0 595 0 0 -595z m8900 400 l0 -195 -845 0 -845 0 0 195 0 195 845 0 845 0
                    0 -195z m0 -400 l0 -195 -845 0 -845 0 0 195 0 195 845 0 845 0 0 -195z m0
                    -400 l0 -195 -845 0 -845 0 0 195 0 195 845 0 845 0 0 -195z"/>

                <path d="M677 3879 c-325 -92 -557 -326 -647 -650 -11 -41 -19 -87 -19 -104 1
                    -23 3 -18 9 17 65 386 362 683 748 748 42 7 43 8 12 8 -19 0 -66 -8 -103 -19z"/>
                <path d="M830 3604 c-52 -9 -151 -37 -147 -41 3 -2 31 4 63 13 39 12 92 18
                    159 18 67 0 120 -6 159 -18 32 -9 60 -15 62 -13 3 2 -22 12 -55 21 -60 17
                    -196 28 -241 20z"/>
                <path d="M607 3528 c-77 -42 -185 -151 -226 -227 -18 -34 -30 -61 -27 -61 3 0
                    19 27 37 60 41 77 142 178 219 219 33 18 60 34 60 37 0 6 0 6 -63 -28z"/>
                <path d="M1140 3556 c0 -3 27 -19 60 -37 123 -65 232 -205 276 -354 24 -81 24
                    -239 0 -320 -60 -201 -210 -351 -411 -411 -81 -24 -239 -24 -320 0 -149 44
                    -289 153 -354 276 -18 33 -34 60 -37 60 -18 0 72 -133 127 -189 119 -119 255
                    -175 424 -175 169 0 305 56 424 175 119 119 175 255 175 424 0 169 -56 305
                    -175 424 -56 55 -189 145 -189 127z"/>
                <path d="M325 3168 c-25 -85 -25 -241 0 -326 10 -34 20 -61 22 -58 2 2 -4 30
                    -13 62 -24 80 -24 238 0 318 9 32 15 60 13 62 -2 3 -12 -24 -22 -58z"/>
                <path d="M4 3005 c0 -49 1 -71 3 -48 2 23 2 64 0 90 -2 26 -3 8 -3 -42z"/>
                <path d="M11 2885 c-1 -38 32 -158 66 -239 83 -198 274 -388 472 -471 75 -31
                    203 -65 240 -64 14 0 -12 8 -59 18 -372 79 -647 365 -710 739 -6 35 -8 40 -9
                    17z"/>
             </g>
             @{ 
                foreach (var item in Model.Where(p=>p.TableFloor.Equals(2)).ToList())
                {
                    <path id="@item.TableId"
                          class="table"
                          d="@item.TableMapPosition"
                          fill="#C8D35B"
                          description-data="Столик <input type='hidden' value ='@item.TableId.ToString()' name='TableId'/> на @item.TableCountSeat.ToString() персоны.">

                    </path>
                }
            }
        </svg>
    </div>

    <!--Блок с выбором даты и описанием-->
    <div class="properties">
        <div class="dateTime">
            <input type="datetime-local" min="11:00" max="23:00" name="DateBooking" class="dateTimeBooking" required/>
        </div>

        <div class="userInfo">
            Кликните на столик, чтобы узнать о нём больше информации
        </div>

        <div class="bookingInfo">
            <div class="colorNotBooking">

            </div>
            <span class="textNotBooking">
                - столик свободен
            </span>
            <div class="colorBooking">

            </div>
            <span class="textBooking">
                - столик забронирован
            </span>
        </div>

        <div class="booking">
            <button class="button bookingButton">
                <span class="buttonText">Забронировать</span>
            </button>
        </div>
    </div>

    

    <div class="floorSelector">
        <div class="floorSelectedButton">
            <input id="firstFloor" type="radio" name="radio" value="1" checked/>
            <label for="firstFloor">1</label>
        </div>
         <div class="floorSelectedButton">
            <input id="secondFloor" type="radio" name="radio" value="2" />
            <label for="secondFloor">2</label>
        </div>
        
    </div>

    <div class="modalWindowShadow">

    </div>
    <div class="modalWindow userInformationWindow">
        <p class="windowTitle">Форма ввода информации</p>
        <p class="windowInformation">Для того, чтобы мы смогли забронировать для вас место, заполните следующие поля:</p>
        <div class=windowUserForm> 
            <p class="formRow">
                <label for="fullname">ФИО</label>
                <input id="fullname" type="text" name="VisitorFullName" required />
            </p>

            <p class="formRow">
                <label for="email">e-Mail</label>
                <input id="email" type="email" name="VisitorEmail" required />
            </p>
            <p class="formRow">
                <label for="telephone">Телефон</label>
                <input id="telephone" type="tel" name="VisitorTelephone" required />
            </p>
            <div class="cancelOkButtons">
                <button type="button" class="button cancelButton">
                    <span class="buttonText">Отмена</span>
                </button>
                <button type="submit" class="button okButton">
                    <span class="buttonText">Отправить</span>
                </button>
                
            </div>
          
        </div>
    </div>

   <script src="~/js/addBookingScript.js"></script>

</div>

